<h1>Your Coupons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Rate</th>
    <th>Status</th>
  </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <th><%= coupon.name %></th>
      <th><%= coupon.coupon_type %></th>
      <% if coupon.coupon_type == 'percent' %>
        <th>%<%= coupon.rate.round %></th>
      <% else %>
        <th>$<%= coupon.rate.round %></th>
      <% end %>
      <th><%= coupon.status %></th>
      <th><%= link_to 'Edit Coupon', edit_coupon_path, method: :get %></th>
      <th><%= link_to 'Delete Coupon', delete_coupon_path, method: :delete %></th>
    </tr>
  <% end %>
</table>
<center><%= link_to 'Create a new Coupon', new_coupon_path, method: :get %></center>
