<center>
  <h1><%= @merchant.name %></h1>
  <h3><%= @merchant.address %></h3>
  <h3><%= "#{@merchant.city}, #{@merchant.state} #{@merchant.zip}" %> </h3>

  <h1>Pending Orders:</h1>
  <% @pending_orders.each do |order| %>
    <h2><%= link_to "Order: #{order.id}", "/orders/#{order.id}" %> </h2>
    <h3>Placed on: <%= (order.created_at).strftime("%D") %></h3>
    <h3>Total Number of Items: <%= order.items_count %></h3>
    <h3>Total Cost: <%= number_to_currency order.grandtotal %></h3>
  <% end %>

  <h1><%= link_to "#{@merchant.name} Items", "/merchant/items" %></h1>
</center>
