<center>
  <h1><%= @merchant.name %></h1>
  <h3><%= @merchant.address %></h3>
  <h3><%= "#{@merchant.city}, #{@merchant.state} #{@merchant.zip}" %> </h3>

  <h1>Pending Orders:</h1>
  <table class="merchant-orders-table">
    <tr>
      <th>Order ID</th>
      <th>Placed On</th>
      <th>Number of Items</th>
      <th>Total Cost</th>
    </tr>
    <% @pending_orders.each do |order| %>
      <tr id="order-<%=order.id%>-info">
        <td><%= link_to "Order ##{order.id}", "/orders/#{order.id}" %></td>
        <td><%= (order.created_at).strftime("%D") %></td>
        <td><%= order.items_count %></td>
        <td><%= number_to_currency order.grandtotal %></td>
      </tr>
    <% end %>
  </table>
  <h1><%= link_to "#{@merchant.name} Items", "/merchant/items" %></h1>
</center>
