<center>
    <h1><%= @merchant.name %> Items</h1>
    <h3><%= link_to "Add a New Item", "/merchant/items/new" %></h3>
    <table class="merchant-items-table">
        <tr>
            <th>Image Thumbnail</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Inventory</th>
            <th>Status</th>
            <% if current_merchant_admin? %>
              <th>Item Status</th>
              <th>Delete Item/Order Status</th>
              <th>Edit Item</th>
            <% end %>
        </tr>
        <% @items.each do |item| %>
            <tr>
                <td><img id="merchant-order-show" src=<%= item.image %>></td>
                <td><%= item.name %></td>
                <td><%= number_to_currency item.price %></td>
                <td><%= item.inventory %></td>
                <% if item.active? == true %>
                    <td>active</td>
                <% else %>
                    <td>inactive</td>
                <% end %>
                <% if current_merchant_admin? && item.active? == true %>
                    <td><p><%= link_to "Deactivate Item", merchant_update_item_activity_path(item), method: :patch %></p></td>
                <% elsif current_merchant_admin? && item.active? == false %>
                    <td><p><%= link_to "Activate Item", merchant_update_item_activity_path(item), method: :patch %></p></td>
                <% end %>
                <% if current_merchant_admin? && item.no_orders? == true %>
                    <td><p><%= link_to "Delete Item", merchant_delete_item_path(item), method: :delete %></p></td>
                <% elsif current_merchant_admin? && item.no_orders? == false %>
                    <td><p>This item has been ordered.</p></td>
                <% end %>
                <% if current_merchant_admin? %>
                    <td><p><%= link_to "Edit #{item.name}", merchant_edit_item_path(item) %></p></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</center>
