<center>
    <h1>Order #<%= @order.id %></h1>
    <h2>Customer Info:</h2>
    <p><%= @order.name %></p>
    <p><%= @order.address %></p>
    <p><%= "#{@order.city}, #{@order.state} #{@order.zip}" %></p>
    <h2>Items:</h2>
    <% @merchant_items.each do |item| %>
        <img src= <%=item.image%> id="merchant-order-show">
        <p><%= item.name %> | <%= number_to_currency item.price %> each</p>
        <p>Quantity Ordered: <%= @order.qty_item_in_order(item)%></p>
    <% end %>
</center>