<center>
  <section id='login-form'>
    <h1>Log in here!</h1>
    <%= form_for(:session) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.submit 'Log In' %>
    <% end %>
  </section>
  <p><%= link_to "Forgot yo password? alzheimer's? NO WORRIES! Click here!", new_password_reset_path, class: 'btn-small' %></p>
</center>
