<h1>Cart</h1>

<% if !@items.empty? %>
  <% @items.each do |item,quantity| %>
    <section class = "cart-items">
      <section id="cart-item-<%= item.id%>">
        <p> <%=link_to item.name, "/items/#{item.id}" %> </p>
        <img src= <%= item.image %>>
        <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
        <p>Price: $<%=item.price%></p>
        <p>Quantity: <%=quantity%></p>
        <p>Subtotal: $<%=cart.subtotal(item)%></p>
        <%= link_to "+", "/cart/#{item.id}/increment", method: :patch %>
        <%= link_to "-", "/cart/#{item.id}/decrement", method: :patch %>
        <p><%= link_to "Remove", "/cart/#{item.id}",method: :delete %>
      </section>
    </section>
  <% end %>
  <p>Total: $<%= cart.total %></p>
  <p><%= link_to "Empty Cart", "/cart", method: :delete %></p>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
