<h1 class="page-title">Cart</h1>

<% if !@items.empty? %>
<center>
<table class = "cart-items">
  <tr>
    <th>Item</th>
    <th>Sold By</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @items.each do |item,quantity| %>
    <tr id= "cart-item-<%=item.id%>">
      <td>
        <p align = "center">
          <span>
            <img align = "center" id="cart-item-img" src= <%= item.image %>>
            <%=link_to item.name, "/items/#{item.id}", class: 'reg-link' %>
          </span>
        </p>
      </td>
      <td>
        <p align = "center">
          <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}", class: 'reg-link'%>
        </p>
      </td>
      <td>
        <p><%=number_to_currency(item.price)%></p>
      </td>
      <td>
        <center>
          <p><%=quantity%></p>
          <p>
            <%= link_to "+", "/cart/#{item.id}/increment", class: 'btn-small', id: 'green-btn', method: :patch %>
            <%= link_to "−", "/cart/#{item.id}/decrement", class: 'btn-small', id: 'red-btn', method: :patch %>
          </p>
          <p><%= link_to "Remove", "/cart/#{item.id}", class: 'btn-small', method: :delete %></p>
        </center>
        </td>
      <td>
        <p><%=number_to_currency(cart.subtotal(item))%></p>
    </td>
    </tr>
  <% end %>
</table>
<p>Total: <%= number_to_currency(cart.total) %></p>
<p><%= link_to "Empty Cart", "/cart", class: 'btn', id: 'red-btn', method: :delete %></p>
  <% if session[:user_id].nil? %>
    <h1 id="cart-login">You must <%= link_to "register", "/register" %> or <%= link_to "log in", "/login" %> to complete checkout!</h1>
  <% else %>
    <p><%= link_to "Checkout", "/orders/new",  class: 'btn', id: 'green-btn', method: :get %></p>
  <% end %>
<% else %>
  <h3 align= "center">Cart is currently empty</h3>
<% end %>
<table>
</center>
