<h1>All Orders</h1>

<section>
  <section class = "shipping-address">
    <h3>Pending Orders</h3>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Order Placed By</th>
        <th>Ordered on</th>
      </tr>
      <% @orders.pending.each do |order| %>
        <tr>
          <section id="pending-order-<%= order.id %>">
            <td><%= link_to "#{order.id}", "admin/users/#{order.user_id}/orders/#{order.id}" %></td>
            <td><%= link_to order.user.name, "/admin/users/#{order.user.id}" %></td>
            <td><%= order.created_at.strftime('%D') %></td>
          </section>
        </tr>
      <% end %>
    </table>
  </section>
<section>
  <section class = "shipping-address">
    <h3>Packaged Orders</h3>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Order Placed By</th>
        <th>Ordered on</th>
      </tr>
      <% @orders.packaged.each do |order| %>
        <tr>
          <section id="packaged-order-<%= order.id %>">
            <td><%= link_to "#{order.id}", "/orders/#{order.id}" %></td>
            <td><%= order.user.name %></td>
            <td><%= order.created_at.strftime('%D') %></td>
          </section>
        </tr>
      <% end %>
    </table>
  </section>
<section>
  <section class = "shipping-address">
    <h3>Shipped Orders</h3>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Order Placed By</th>
        <th>Ordered on</th>
      </tr>
      <% @orders.shipped.each do |order| %>
        <tr>
          <section id="shipped-order-<%= order.id %>">
            <td><%= link_to "#{order.id}", "/orders/#{order.id}" %></td>
            <td><%= order.user.name %></td>
            <td><%= order.created_at.strftime('%D') %></td>
          </section>
        </tr>
      <% end %>
    </table>
  </section>
<section>
  <section class = "shipping-address">
    <h3>Cancelled Orders</h3>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Order Placed By</th>
        <th>Ordered on</th>
      </tr>
      <% @orders.cancelled.each do |order| %>
        <tr>
          <section id="cancelled-order-<%= order.id %>">
            <td><%= link_to "#{order.id}", "/orders/#{order.id}" %></td>
            <td><%= order.user.name %></td>
            <td><%= order.created_at.strftime('%D') %></td>
          </section>
        </tr>
      <% end %>
    </table>
  </section>
