<h1>All Orders</h1>

<section>
  <section>
    <h3>Pending Orders: </h3>
    <% @orders.pending.each do |order| %>
      <section id="pending-order-<%= order.id %>">
        <ul>
          <li><%= link_to "#{order.id}", "/orders/#{order.id}" %></li>
          <li>Order Placed By: <%= order.user.name %></li>
          <li>Ordered on: <%= order.created_at.strftime('%F %T') %></li>
        </ul>
      </section>
    <% end %>
  </section>
  <section>
    <p>Packaged Orders: </p>
    <% @orders.packaged.each do |order| %>
      <section id="packaged-order-<%= order.id %>">
        <ul>
          <li><%= link_to "#{order.id}", "/orders/#{order.id}" %></li>
          <li>Order Placed By: <%= order.user.name %></li>
          <li>Ordered on: <%= order.created_at.strftime('%F %T') %></li>
        </ul>
      </section>
    <% end %>
  </section>
  <section>
    <p>Shipped Orders: </p>
    <% @orders.shipped.each do |order| %>
      <section id="shipped-order-<%= order.id %>">
        <ul>
          <li><%= link_to "#{order.id}", "/orders/#{order.id}" %></li>
          <li>Order Placed By: <%= order.user.name %></li>
          <li>Ordered on: <%= order.created_at.strftime('%F %T') %></li>
        </ul>
      </section>
    <% end %>
  </section>
  <section>
    <p>Cancelled Orders: </p>
    <% @orders.cancelled.each do |order| %>
      <section id="cancelled-order-<%= order.id %>">
        <ul>
          <li><%= link_to "#{order.id}", "/orders/#{order.id}" %></li>
          <li>Order Placed By: <%= order.user.name %></li>
          <li>Ordered on: <%= order.created_at.strftime('%F %T') %></li>
        </ul>
      </section>
    <% end %>
  </section>
</section>
