
<table id='address-<%= user_address.id %>'>
  <tr>
  <th>Nickname</th>
  <th>Street</th>
  <th>City</th>
  <th>State</th>
  <th>Zip</th>
  </tr>
  <tr>
  <td><p><%= user_address.nickname %></p></td>
  <td><p><%= user_address.address %></p></td>
  <td><p><%= user_address.city %></p></td>
  <td><p><%= user_address.state %></p></td>
  <td><p><%= user_address.zip %></p></td>
  </tr>
</table>
