<section id='address-<%= @address.id %>'>
  <p><%= @address.nickname %></p>
  <p><%= @address.address %></p>
  <p><%= @address.city %></p>
  <p><%= @address.state %></p>
  <p><%= @address.zip %></p>
</section>
