<section class="admin-orders">
  <% unless orders.empty? %>
    <h3><%= title %></h3>
    <table>
      <tr>
        <th>Order Id</th>
        <th>Order Placed By</th>
        <th>Ordered on</th>
      </tr>
      <% orders.each do |order| %>
        <tr>
          <section id='<%= "#{id_tag}-#{order.id}" %>'>
            <td><%= link_to "Order ##{order.id}", "/orders/#{order.id}" %></td>
            <td><%= order.user.name %></td>
            <td><%= order.created_at.strftime('%D') %></td>
          </section>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h3><%= "#{title}: None at this time" %></h3>
  <% end %>
</section>
