<h1>Your Orders</h1>
<section class = "shipping-address">
  <table>
    <tr>
      <th>Order Id</th>
      <th>Date Placed</th>
      <th>Last Updated</th>
      <th>Status</th>
      <th>Item Count</th>
      <th>Grand Total</th>
    </tr>
    <% @user.orders.each do |order| %>
        <tr>
          <section id = "order-<%=order.id%>">
            <td><%= link_to order.id, "/profile/orders/#{order.id}" %></td>
            <td><p><%= order.created_at.strftime('%D') %></p></td>
            <td><p><%= order.updated_at.strftime('%D') %></p></td>
            <td><p><%= order.status %></p></td>
            <td><p><%= order.items_count %></p></td>
            <td><p>$<%= order.grandtotal %></p></td>
          </section>
        </tr>
      <% end %>
  </table>
</section>
