<% @user.orders.each do |order| %>
<section class = "shipping-address">
  <table>
    <tr>
      <th>Order Id</th>
      <th>Date Placed</th>
      <th>Last Updated</th>
      <th>Status</th>
      <th>Item Count</th>
      <th>Grand Total</th>
    </tr>
    <section id = "order-<%=order.id%>">
      <tr>
        <td><%= link_to order.id, "/profile/orders/#{order.id}" %></td>
        <td><p><%= order.created_at.strftime('%F %T') %></p></td>
        <td><p><%= order.updated_at.strftime('%F %T') %></p></td>
        <td><p><%= order.status %></p></td>
        <td><p><%= order.items_count %></p></td>
        <td><p><%= order.grandtotal %></p></td>
      </tr>
    </section>
  </table>
  <% end %>
</section>
