<h1 align = "center">Order</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th>Sold By</th>
    <th>Inventory</th>
  </tr>
  <% cart.items.each do |item, quantity| %>
    <tr id='order-item-<%= item.id%>'>
      <td><h2><%= link_to item.name, "/items/#{item.id}", class: "reg-link" %></h2></td>
      <td><p><%= number_to_currency(item.price) %></p></td>
      <td><p><%= quantity %></p></td>
      <td><p><%= number_to_currency(cart.subtotal(item)) %></p></td>
      <td><p><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}", class: "reg-link" %></p></td>
      <td><p><%= item.inventory %> in stock</p></td>
    </tr>
  <% end %>
</table>
<% if @selected_address %>
  <h3>Your order will be shipped to: </h3>
  <%= render partial: 'partials/address_show', locals: { user_address: @address } %>
<% elsif @has_address %>
  <% @addresses.each do |address|  %>
    <p>Which address would you like to ship to?</p>
    <%= render partial: 'partials/address_show', locals: { user_address: address } %>
    <%= link_to 'Select', "/users/orders/select/#{address.id}", method: :get %>
  <% end %>
  <% else %>
    <section>
      <h3>Create an Address for your order:</h3>
      <%= render partial: 'partials/address' %>
    </section>
<% end %>
<h3 align = "right">Total: <%= number_to_currency(cart.total)%></h3>
<% if @selected_address %>
  <p align = "right"><%= link_to "Create Order", orders_path,  class: 'btn', id: 'green-btn', method: :post %></p>
<% end %>
