<h1 align = "center">Order</h1>
<% cart.items.each do |item, quantity| %>
  <section id='order-item-<%= item.id%>'>
    <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
    <p>Price: $<%= item.price %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Subtotal: $<%= cart.subtotal(item) %></p>
    <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
  </section>
<% end %>
<h3>Total: $<%= cart.total%></h3>
<center>
  <%= form_tag "/orders", method: :create do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :address %>
    <%= text_field_tag :address %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= label_tag :zip %>
    <%= number_field_tag :zip %>

    <%= submit_tag 'Create Order' %>
  <% end %>
</center>
