<section class = "shipping-address">
  <h1 align = "center">Shipping Info</h1>
  <table>
    <tr>
      <th>Order id</th>
      <th>Status</th>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.id %> </p></td>
      <td><p><%= @order.status %></p></td>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>
<h1 align = "center">Order Info</h1>
<center>
  <table class = "order-show-table">
    <tr>
      <th>Status</th>
      <th>Image</th>
      <th>Item</th>
      <th>Description</th>
      <th>Sold By</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order.item_orders.each do |item_order|%>
    <tr>
    <section id = "item-<%=item_order.item_id%>">
        <td><p><%= item_order.status %></p></td>
        <td><img src= <%=item_order.item.image%> id="profile-order-show"></td>
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}", class: "reg-link" %></p></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= link_to item_order.item.merchant.name, "/merchants/#{item_order.item.merchant.id}", class: "reg-link" %></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
      </section>
    </tr>
  <% end %>
</table>

<section id="grandtotal">
  <p>Total Items: <%= @order.items_count %></p>
  <p>Total: <%=number_to_currency(@order.grandtotal)%></p>
</section>
<section id="datecreated">
  <p>Date Placed: <%= @order.created_at.strftime('%D') %></p>
  <p>Last Updated: <%= @order.updated_at.strftime('%D') %></p>
</section>
<% if @order.pending? %>
  <section>
    <%= button_to 'Cancel Order', order_cancel_path(@order), method: :patch %>
  </section>
<% end %>
<% if current_admin? && @order.status == 'packaged' %>
  <%= link_to 'Ship Order', shipped_order_path(@order), method: :patch %>
<% end %>
