<h1 align = "center">Merchants</h1>
<% if current_admin? %>
<p align="center"><%= link_to "New Merchant", "/merchants/new", class: 'btn' %></p>
  <table>
    <tr>
      <th>Merchant</th>
      <th>City</th>
      <th>State</th>
      <th>Status</th>
      <th></th>
    </tr>
    <% @merchants.each do |merchant|%>
      <section id="merchant-<%= merchant.id %>">
        <tr>
          <td><%=link_to merchant.name, "/admin/merchants/#{merchant.id}", class: 'reg-link'%></td>
          <td><%=merchant.city%></td>
          <td><%=merchant.state%></td>
          <td><%=merchant.status%></td>
          <% if merchant.status == 'enabled' %>
            <td><%= link_to 'Disable', "/admin/merchants/#{merchant.id}", class: 'btn-small', method: :patch %></td>
          <% else %>
            <td><%= link_to 'Enable', "/admin/merchants/#{merchant.id}", class: 'btn-small', method: :patch %></td>
          <% end %>
        </tr>
      </section>
    <% end %>
  </table>
<% else %>
  <% @merchants.each do |merchant|%>
    <h2 class="grid-item"><%=link_to merchant.name, "/merchants/#{merchant.id}"%></h2>
  <% end %>
<% end %>
