<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<section class = "review-stats">
  <section class = "top-three-reviews">
    <% @item.sorted_reviews(3, :desc).each do |review| %>
      <%= "#{review.rating}-#{review.title}" %>
    <% end %>
  </section>
  <section class = "bottom-three-reviews">
    <% @item.sorted_reviews(3, :asc).each do |review| %>
      <%= "#{review.rating}-#{review.title}" %>
    <% end %>
  </section>
  <section id = "average-rating">
    <p>Average Rating: <%= @item.average_review %></p>
  </section>
</section>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: $<%= @item.price %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
    </section>
  </section>
</center>
<%= link_to "Add Review", "/items/#{@item.id}/reviews/new" %>
<section class = "list-reviews">
  <% @item.reviews.each do |review| %>
    <section id= 'review-<%=review.id%>'>
      <%= review.title %>
      <%= review.content %>
      Rating: <%= review.rating %>/5
      <%= link_to "Edit Review", "/reviews/#{review.id}/edit" %>
      <%= link_to "Delete", "/reviews/#{review.id}", method: :delete %>
    </section>
  <% end %>
</section>
