<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">

      <div id="home-indicator">
        <%= link_to '/', class: 'topnav-link', id: 'home-link' do %>
          <%= image_tag 'puggly-wuggly-logo.png', id: 'home-logo' %>
        <% end %>
      </div>

      <%= link_to "All Merchants", "/merchants", class: 'topnav-link'%>
      <%= link_to "All Items", "/items", class: 'topnav-link'%>

        <div class="login-options">
          <% if session[:user_id].nil? %>
              <%= render partial: "partials/log_in_out", locals: {log_in_out: "Log In", path: "/login", message: "First time here?", message_link: "Sign Up", message_path: "/register"} %>
            <% else %>
              <%= render partial: "partials/log_in_out", locals: {log_in_out: "Log Out", path: "/logout", message: "Logged in as: ", message_link: "#{User.find(session[:user_id]).name}", message_path: "/profile"} %>
            <% end %>
        </div>

      <div id="cart-indicator">
        <%= link_to '/cart', class: 'topnav-link', id: 'cart-link' do %>
          <%= image_tag "pug_cart.png", id: 'cart-nav-img' %>
        <% end %>
        <% items = cart.total_items%>
        <p id="cart-p"><%= items %> <%= items == 1 ? ' item' : ' items' %></p>
      </div>
    </nav>

    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
