<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <div class="home-indicator">
        <%= link_to '/', id: 'home-link' do %>
          <%= image_tag 'puggly-wuggly-logo.png', id: 'home-logo' %>
        <% end %>
      </div>

      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <div class="login-options">
        <%= link_to 'Log In', '/login' %>
        <%= link_to 'Sign Up', '/register' %>
      </div>
      <div id="cart-indicator">
        <%= link_to '/cart', id: 'cart-link' do %>
          <%= image_tag "pug_cart.png", id: 'cart-nav-img' %>
        <% end %>
        <% items = cart.total_items%>
        <p id="cart-p"><%= items %> <%= items == 1 ? ' item' : ' items' %></p>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
